@{
    ViewBag.Title = "Nguyễn Văn Thạo";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    K22CNT1 - Môn lập trình ứng dụng web với công nghệ Asp.Net MVC5
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Vanthao@example.com">Vanthao@example.com</a><br />
    <strong>Cá nhân:</strong> <a href="mailto:nguyenvanthao@example.com">nguyenvanthao@example.com</a>
</address>